<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="delivery_system" connectionString="Data Source=localhost;
		   Initial Catalog=CSMaster;Integrated Security=False;
		   User ID=sa;Password=himitu;"/>
	</connectionStrings>
</configuration>